/* Author: Jayant Patidar */

#review-container {
  overflow: hidden;
}
#review-cards-container {
  /* height: 90px;  */
  padding: 5px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hide;
  -webkit-overflow-scrolling: touch;
}
.review-card {
  display: inline-block;
  /* width: 300px; */
  /* height: 50px; */
  /* line-height: 50px; */
  text-align: left;
  /* background: #ddd; */
}
.review-card + .review-card {
  margin-left: 5px;
}

/* CustomScrollbar.css */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #555;
}
